.uitkGridBaseCell {
}

.uitkGridBaseCell {
  border-collapse: collapse;
  box-sizing: border-box;
  height: var(--row-height);
  overflow: hidden;

  margin: 0;

  border-style: solid;
  border-color: #d9dde3;
  border-width: 0 0 1px 0;

  font-size: var(--font-size);
  font-weight: normal;

  background-color: white;
  white-space: nowrap;
  position: relative;
}

.uitkGridBaseCell-hover {
  background-color: var(--hover-color);
}

.uitkGridBaseCell-selectedRow {
  background-color: var(--selected-row-color);
}

.uitkGridBaseCell-selectedCell {
  background-color: var(--selected-cell-color);
}

.uitkGridBaseCell-zebra {
  background-color: var(--zebra-color);
}

.uitkGridBaseCell-allEditable {
  border-width: 0 0 1px 1px;
}

.uitkGridBaseCell-editable {
  border-width: 0 1px 1px 2px;
  border-color: #84878e;
}

.uitkGridBaseCell-valueContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--cell-padding);
  /*height: var(--row-height);*/
  overflow: hidden;
  line-height: var(--row-height);
}
