.uitkGridBottomLeftPart {
  --scroll-bar-size: 15px;
}

.uitkGridBottomLeftPart {
  position: absolute;
  bottom: var(--scroll-bar-size);
  left: 0;
  z-index: 2;
}

.uitkGridBottomLeftPart table {
  border-spacing: 0;
  table-layout: fixed;
}
