.uitkDropdownButton {
  --uitkButton-label-fontWeight: var(--uitk-typography-weight-regular);
  --uitkButton-textTransform: none;
  --uitkButton-background-hover: var(--uitk-actionable-secondary-background);
  --uitkButton-background-active: var(--uitk-actionable-secondary-background);
  --uitkButton-background-hover: var(--uitk-actionable-secondary-background);
  --uitkButton-textColor-active: var(--uitk-actionable-secondary-foreground);
  --uitkButton-width: 100%;

  /* Fonts, Text */
  --uitkButton-fontWeight: var(--uitk-typography-weight-medium);
  --uitkButton-textAlign: left;
}

.uitkDropdownButton.uitkButton:active {
  --uitkIcon-color: var(--uitk-actionable-secondary-text-color);
}

.uitkDropdownButton-fullwidth {
  width: 100%;
}

.uitkDropdownButton-content {
  align-items: center;
  flex: 1;
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.uitkDropdownButton-buttonLabel {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uitkDropdownButton-formField.uitkButton:focus,
.uitkDropdownButton-formField.uitkButton:focus-visible {
  outline: none;
}
