.uitkGridCellValueChangeIndicator {
  color: red;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 4px;
  animation-name: ChangeAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes ChangeAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
