.uitkGridCellMeasure {
  position: fixed;
  top: 0;
  left: 0;
}

.uitkGridCellMeasure table {
  border-collapse: collapse;
}

.uitkGridCellMeasure tr {
}

.uitkGridCellMeasure th {
  border-collapse: collapse;
  box-sizing: border-box;
  height: var(--row-height);
  overflow: hidden;

  margin: 0;
  padding: var(--cell-padding);

  border-style: solid;
  border-color: #D9DDE3;
  border-width: 0 0 1px 0;

  font-size: var(--font-size);
  font-weight: normal;

  background-color: white;
  white-space: nowrap;
  position: relative;
}
